@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #d9d2e9ff;
  justify-content: space-between;
}

.main-container h1 {
  font-size: 100px;
}

.infinite-bar {
  padding: 25px;
  width: 100vw;
  background-color: white;
  height: 30vh;
  position: relative;
  overflow: hidden;
}
.track {
  position: relative;
  display: flex;
  left: 0;
}

.sign {
  font-size: 50px;
  padding: 10px;
}

.logo {
  height: 250px;
  margin-left: 15px;
  margin-right: 15px;
}
