@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #d9d2e9ff;
  justify-content: space-between;
}

.main-container h1 {
  font-size: 100px;
}

.infinite-bar {
  padding: 25px;
  width: 100vw;
  background-color: white;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.track {
  position: relative;
  display: flex;
  left: 0;
}

.infinite-bar::before, .infinite-bar::after {
  background: linear-gradient(to right,white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 300px;
  position: absolute;
  width: 250px;
  z-index: 2;
}

.infinite-bar::before{
  left: 0;
  top: 0; 
}

.infinite-bar::after{
  transform: rotateZ(180deg);
  right: 0;
  top: 0;
}

.sign {
  font-size: 50px;
  padding: 10px;
}
.logo {
  height: 250px;
  margin-left: 15px;
  margin-right: 15px;
}
.logo-container {
  height: 250px;
  
  margin-left: 15px;
  margin-right: 15px;
  position: absolute;
  left: 0;
}

.logo-continerV2{
  padding: 15px;
}

.logo-container img {
  height: 100%;
}
